header{
    display: block;
    padding: 0.5%;
    margin: 20px;
    border: 8px #6D3B7D solid;

}

header h1{
    text-align: center;
    background-color: #252729;
    color: #EAE9E5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 40px;
    border: 3px #6D3B7D solid;
    padding: 0.5%;

}

body{
    background-color: #EAE9E5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

section h2{
    text-align: center;
    background-color: #6D3B7D;
    color: #EAE9E5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: 3px #252729 solid;
    padding: 0.5%;
}

#rightSection{

    display: block; 
    padding-left: 100px;
    padding-right: 100px;
    border: 3px #7F7E76 solid;
    text-align: center;
    border: 5px #151E3F;
}

#leftSection{
    display: block;
    border: 3px #7F7E76 solid;
    border: 5px #F7F7F2;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 20px;
    padding-bottom: 20px;

}


p{
    text-align: center;
    font-size: 15px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ul{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
#personal{
    border: 3px #7F7E76 solid;

}

footer{
    background-color: darkgray;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: sticky;

}
